.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". info ." ". . .";
}

.info {
    grid-area: info;
    text-align: center;
}
